.headerBody {
    height: 38px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    text-align: center;
    width: 1200px;
    margin-top: 40px;
    z-index: 2;
}

.headerMenu {
    display: flex;
    flex-direction: row;
    width: 523px;
    height: 38px;
    justify-content: space-between;
    align-items: center;
}

.menuIcon {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    text-align: left;    
    color: #FDB100;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.menuButtons {
    width: 345px;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menuButton {
    background-color: transparent;
    color: #9196A1;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.94px;
    margin: 0;
    padding: 0;
}

.menuButtonBold {
    background-color: transparent;
    color: #3A3C41;
    font-weight: 600;
    font-size: 18px;
    line-height: 21.94px;
    margin: 0;
    padding: 0;
}

.headerLoginInfo {
    width: auto;
    display: flex;
    flex-direction: row;
}

.loginText {
    background-color: transparent;
    font-weight: 600;
    color: #FDB100;
    font-size: 18px;
    padding: 0 0 0 14px;
    line-height: 21.94px;
}

.loginInfo {
    display: flex;
    flex-direction: row;
}

.loginGreeting {
    color: #FDB100;
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0px 5px 10px;
    padding-right: 27px;
    border-right: solid 1px #FDB100;
    cursor: pointer;
}

.loginGreeting:hover {
    text-decoration: underline;
}

.logoutButton {
    width: 18px;
    height: 18px;
    margin: 9px 2px 9px 27px;
    cursor: pointer;
}