.recipesContainer {
    margin-top: 130px;
    margin-bottom: 60px;
    height: auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.recipeSearcher {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.searcherTitle {
    align-items: flex-start;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: #25292D;
}