.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.buttonBack {
    display: flex;
    flex-direction: row;
    width: 90px;
    height: 25px;
    background-color: transparent;
    color: #FDB100;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin-top: 8px;
}

.title {
    color: #25292D;
    font-size: 42px;
    margin: 0;
}

.titleButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.buttonPost {
    width: 278px;
    height: 60px;
    color: #FFFFFF;
    background-color: #FDB100;
    font-weight: 600;
    font-size: 18px;
    border-radius: 16px;
    border: transparent solid 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.buttonPost:hover {
    border: 1px solid #fdb100;
    box-sizing: border-box;
    background-color: rgba(253, 137, 0, 0.1);
    color: #fdb100;
    transition: 700ms;
}

.buttonСancel {
    width: 278px;
    height: 60px;
    color: #FDB100;
    background-color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    border-radius: 16px;
    border: #FDB100 solid 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.buttonСancel:hover {
    border: 1px solid transparent;
    box-sizing: border-box;
    background-color: #FDB100;
    color: #FFFFFF;
    transition: 700ms;
}