.titleContainer {
    width: 1200px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.titleHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerText {
    font-weight: 700;
    font-size: 42px;
    line-height: 62px;
    color: #000000;
}

.addRecipeButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;
    width: 278px;
    height: 60px;
    color: #FFFFFF;
    background-color: #FDB100;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    border-radius: 16px;
    border: transparent solid 1px;
}

.plus {
    width: 14px;
    height: 14px;
    padding: 5px;
}

.addRecipeButton:hover {
    border: 1px solid #fdb100;
    box-sizing: border-box;
    background-color: rgba(253, 137, 0, 0.1);
    color: #fdb100;
    transition: 700ms;
}