.recipeContainer {
    height: auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.recipeInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}