.favouritesContainer {
    display: flex;
    flex-direction: column;
    margin-top: 125px;
    margin-bottom: 60px;
    width: 1200px;
    min-height: 62vh; 
    justify-content: start;
    align-items: flex-start;
    box-sizing: border-box;
}

.title {
    color: #25292D;
    font-family: Montserrat;
    font-size: 42px;
    font-weight: 700;
    line-height: 62px;
    text-align: left;
}

.loadMoreButton {
    height: 60px;
    color: #F29E1F;
    background-color: transparent;
    border: #F29E1F solid 1px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.loadMoreButton:hover {
    background-color: #F29E1F;
    color: #FFFFFF;
}

.emptyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.emptyText {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    color: #FDB100;
    opacity: 0.5;
    margin-bottom: 20px;
}

.loadMoreButton.centered {
    margin: 0;
    margin-top: 20px;
}

.recipesContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}