.recipesListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.listHeader {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: #25292D;
}

.recipeList {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;
}

.noRecipesMessage {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    opacity: 0.5;
    color: #FDB100;
}

.loadMoreButton {
    height: 60px;
    color: #F29E1F;
    background-color: transparent;
    border: #F29E1F solid 1px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.loadMoreButton:hover {
    background-color: #F29E1F;
    color: #FFFFFF;
}