.example {
    width: 1200px;
    height: 543px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-top: 40px;
    cursor: pointer;
    border-radius: 72px 0px 72px 0px;
}

.example:hover {
    box-shadow: 0 0 30px rgba(160, 82, 45, 0.5);
    transition: 300ms;
}

.img {
    width: 543px;
    height: 543px;
    object-fit: cover;
    border-radius: 72px 0px 72px 0px;
}

.exampleContent {
    display: flex;
    flex-direction: column;
    height: 543px;
    width: 600px;
    gap: 20px;
}

.exampleLikeAndFavourites{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: end;
    margin-top: 3px;
    margin-right: 55px;
}

.exampleInfo {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.infoImg {
    height: 21px;
}

.infoText {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #25292D;
    margin-top: 3px;
}

.recipeDayImg {
    width: 100px;
}

.exampleHeader {
    width: 507px;
    font-family: Montserrat;
    font-size: 42px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    color: #25292D;
    margin: 10px 0 0 10px;
}

.exampleText {
    width: 507px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #4A525A;
    margin-left: 10px;
}

.exampleTag {
    position: absolute;
    height: 32px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: #FDB100;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 0px 18px;
    margin-top: 473px;
    display: flex;
    align-items: center;
}